.header {
  font-size: 30px;
  color: blue;
  background-color: black;
}

.body {
  margin: 0;
  background-color: aliceblue;
}

/* 横並びはこの main にだけ適用 */
.main {
  display: flex;
}

.index {
  background-color: aqua;
  width: 25%;
}

.naiyou {
  background-color: lightblue;
  width: 75%;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}
